# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=961cab8b2a51d82aacf0523c928cfe8a
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###
SYMFONY_CACHE_DIR=application/var/cache
SYMFONY_LOGS_DIR=application/var/logs

TWITTER_OAUTH_ACCESS_TOKEN="2572442838-gerGZ7WACnEQQRaROpQweiRtCGkvArL8XcpOaol"
TWITTER_OAUTH_SECRET="uCIOQ5dfiPmmPpbgGQJFS3E341s4vK9aDad7BHK5gjAc8"
TWITTER_CONSUMER_KEY="VjDm83zX6kcWrZzX1W5LvWX1a"
TWITTER_CONSUMER_SECRET="FS2l6pqNwyLv2BeOunXQWtIlugzFXntNo2oGBLbFt5jIxPyGFv"
